/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    min-width: 350px;
}

main {
    margin-left: 0;
    background-color: whitesmoke;
}


/* HLAVICKA */

header {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/images/island-hlavicka.jpg);
    background-color: rgb(70, 83, 201);
    background-size: cover;
    text-align: center;
    color: white;
    padding: 1.5rem;
    min-height: 250px;
}
.titulek {
    font-family: 'Raleway', serif;
    margin-top: 0;
    margin-bottom: 0.3rem;
    padding: 0rem 0;
    font-size: 3.4rem;
}

.autor {
    font-style: italic;
    opacity: 0.8;
}

.cara {
    border-bottom: 2px solid white;
    padding: 0 3rem;
}

/* MENU */

.polozka-menu {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(149, 163, 163);
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
}

nav li {
    padding: 0.4rem 0;
    font-size: 0.9rem;
    display: inline;
}


/* OBSAH */

.uvod p,
.proc p,
.co-videt p,
.zbytek p {
    padding: 0 1rem;
}

h2 {
    padding: 0 1rem;
    margin-bottom: 0rem;
    content: ;
}

h2::after {
    content: '';
    display: block;
    width: 5rem;
    border-top: 3px solid #62a0dd;
    margin: 1rem 0 1.5rem -1.1rem;
}

.popisek-viditelny {
    color: rgb(168, 163, 163);
    text-align: center;
}

.obrazek {
    width: 100%;
}

figure {
    margin: auto 0;
}

/* FOTOGALERIE */

.foto-popis {
    margin: 1rem 0;
}

.popisek {
    text-align: center;
    color: rgb(168, 163, 163);
    font-weight: bold;
    font-size: 0.8rem;
}

a {
    color: rgb(168, 163, 163);
}

.popisek-copy {
    font-weight: normal;
}

.fotografie {
    width: 100%;
}


/* PATICKA */
 footer {
    font-size: 0.7rem;
    color: rgb(168, 163, 163);
    padding: 1.3rem 1rem;
    box-shadow: inset 0px 10px 27px -12px rgba(0, 0, 0, .5);
 }

 @media screen and (min-width: 500px) {
    header {
        min-height: 400px;
    } 
    
     nav {
         flex-direction: row;
         justify-content: space-around;
     }

     nav li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;
        align-self: stretch;
        
    
    }nav li:hover {
        background-color: #54535e;
        color: white;
    }

    .uvod,
    .proc,
    .co-videt,
    .zbytek {
        padding: 0 1.5rem;
    }

    h2 {
        margin-top: 0;
    }

    .fotovtextu {
        display: flex;
        flex-direction: column;
    }
    
    .popisek-viditelny {
        position: relative;
        bottom: 3rem;
        right: 1rem;
        color: white;
        opacity: 0.9;
        align-self: flex-end;
        justify-content: stretch;
    }

    .popisek a,
    .popisek-viditelny a {
        color: white;
        opacity: 0.9;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
       }

       .foto-popis {
        flex-basis: 50%;
        margin: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }

    .fotografie {
        transition: all 0.5s ease-in-out;
    }
       .popisek {
        position: absolute;
        color: white;
        opacity: 0.9;
    }

    .foto-popis:hover > img{
            transform: scale(1.2);
        }
    }

 @media screen and (min-width: 1000px) {
    header {
         padding: 4.5rem 22rem 7rem 22rem;
            }

    .titulek {
        font-size: 4.5rem;
    }
    
    main {
        display: flex;
        flex-direction: column;
        padding-top: 1.7rem;
        box-shadow: 0px 10px 27px -12px rgba(0, 0, 0, .5);
        max-width: 960px;
        margin: auto;
        margin-top: -4rem;
        position: relative;
        z-index: 1;
        }

    .sekce-zacatek {
        display: flex;
        }
    
    nav {
        flex-direction: column;
        width: 40%;
        justify-content: start;
        align-items: start;
        }
    nav li {
        flex-grow: 0;
        justify-content: flex-start;
        padding: 0.5rem 0;
    }

    .polozka-menu {
        padding-left: 40px;
        }
    
    .uvod {
        width: 800px;
        padding: 0 1.5rem 2rem 0;
        }

    .proc {
        padding: 0 12rem 2rem 3rem;
        }

    .co-videt,
    .zbytek {
        padding: 0 3rem 2rem 12rem;
    }

    .foto-popis {
        flex-basis: 33%;
        flex-grow: 1;
        }
    }